body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #e0e0e0;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}
h2 {
	margin: 0;
	justify-self: center;
}
.container {
	display: grid;
	background-color: #fff;
	border-radius: 20px;
	padding: 20px;
	grid-template-rows: 30px 55px 25px 40px;
	gap: 15px;
}

 .time {
	font-size: 48px;
	justify-self: center;
}
.btn-div {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 5px;
  
}
.message {
	justify-self: center;
	font-size: 18px;
}
.container .start-btn {
	background-color: #01b801;
	border: none;
	padding: 10px 20px;
	color: white;
	border-radius: 6px;
	font-size: 16px;
	cursor: pointer;
}

.container .stop-btn {
	background-color: #d10000;
	border: none;
	padding: 10px 20px;
	color: white;
	border-radius: 6px;
	font-size: 16px;
	cursor: pointer;

}

.container .reset-btn {
	background-color: gray;
	border: none;
	padding: 10px 20px;
	color: white;
	border-radius: 6px;
	font-size: 16px;
	cursor: pointer;
}
.start-btn:focus, .stop-btn:focus, .reset-btn:focus {
	outline: none;
}